@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

header {
  margin: 0;
  padding: 20px;
  background-color: #997542;
  color: #fff;
}

section {
  background-color: #fff;
  color: #000;
}

h1 {
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 1.4em;
}

.reading {
  margin: 20px auto;
  padding: 20px;
  width: 800px;
}

.cards {
  padding: 30px;
}

.item {
  border: 3px solid #000;
  flex: 1;
  margin: 10px;
  min-height: 200px;
  max-height: 200px;
  width: 110px;
  background-size: cover;
}

.item h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: -30px;
  text-align:center;
}

.taller {
  margin: 20px 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rotated {
  transform: rotate(90deg);
  -webkit-transform-origin: 50%  51%;
  margin-top: -100px;
}

.directional-north {
  margin-bottom: 10px
}

.directional-center {
  margin-top: 30px
}

.celticcross-col-second {
  padding: 50px;
}

.celticcross-col-third {
  padding: 30px;
}

.celticcross-card-one {
  margin-top: 30px;
}

.celticcross-card-three {
  margin-top: 30px;
}

.treeoflife-row {
  align-items: flex-start
}

.treeoflife-col-one {
  margin-top: 100px;
}

.treeoflife-col-three {
  margin-top: 100px;
}

.treeoflife-card-six {
  margin-top: 200px;
}
